h3,
h2,
h1,
p,
h4,
a {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

.pill {
  position: relative;
  display: inline-block;
  font-weight: 900;
  z-index: 1;
}

.pill.white {
  color: black;
}

.pill.white:before {
  background-color: white;
}

.pill.black {
  background-color: transparent;
}

.pill.black:before {
  background-color: black;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.pill:before {
  content: "";
  z-index: -1;
  background-color: #ffca45;
  border: 1px solid #2b2b2d;
  position: absolute;
  height: 1.1em;
  width: 100%;
  padding: 5px 10px;
  box-sizing: content-box !important;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 70px;
}

.elementor-button {
  min-width: 227px;
  font-weight: bold;
  --e-global-typography-accent-font-weight: bold;
  font-size: 20px;
  padding: 18px 50px !important;
}

.button.black a {
  background-color: black;
  border-color: black;
  color: white;
}

.button.black a:hover {
  background-color: white;
  border-color: white;
  color: black;
}

.button.white a {
  background-color: white;
}

.button.white a:hover {
  background-color: #ffca45;
}

.body-intro p {
  font-size: 2.25rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.08px;
}

.body-intro p:not(:first-of-type) {
  margin-top: 1.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  position: relative;
  z-index: 2;
}

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em,
p em {
  font-family: "NyghtSerif", Sans-serif !important;
  font-weight: 300 !important;
  letter-spacing: normal !important;
}

.headline-1 h1,
.headline-1 h2,
.headline-1 h3,
.headline-1 h4,
.headline-1 h5,
.headline-1 h6 {
  font-size: 8.25rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -6.6px;
}

.headline-1 {
  font-size: 8.25rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -6.6px;
}

.headling-3 {
  font-size: 2.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.08px;
  text-align: center;
  color: #f9f3ef;
}

.heading-4 h4 {
  font-size: 4.375rem;
  line-height: 1.1;
  font-weight: 900 !important;
  --e-global-typography-primary-weight: 900;
}

.heading-2 h2 {
  font-size: 5rem;
  font-weight: 900 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -4px;
  text-align: left;
  color: #f9f3ef;
}

.copy p {
  font-size: 1.75rem;
  font-weight: normal !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  font-family: "SatoshiVariable" !important;
}

.smaller-copy {
  font-family: "SatoshiVariable" !important;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.yellow {
  color: #ffca45;
}

.hero-mode-toggle {
  display: flex;
  align-items: center;
  /* Rounded sliders */
}

.hero-mode-toggle p {
  font-size: 9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #2b2b2d;
  text-transform: uppercase;
}

.hero-mode-toggle .switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
  margin: 5px;
}

.hero-mode-toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.hero-mode-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #2b2b2d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hero-mode-toggle .slider:checked {
  background-color: #ffca45;
  border-color: #ffca45;
}

.hero-mode-toggle .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #2b2b2d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hero-mode-toggle input:checked + .slider {
  background-color: #ffca45;
}

.hero-mode-toggle input:focus + .slider {
  box-shadow: 0 0 1px #ffca45;
}

.hero-mode-toggle input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.hero-mode-toggle .slider.round {
  border-radius: 34px;
}

.hero-mode-toggle .slider.round:before {
  border-radius: 50%;
}

body {
  margin: 0px auto;
}

.max-width {
  width: 80%;
}

.same-space {
  margin: 6.25rem auto;
}

.small-space {
  margin: 3.125rem auto;
}

.simple-padding-bottom {
  margin-bottom: 6.25rem !important;
}

.smaller-padding-bottom {
  margin-bottom: 4.375rem !important;
}

.smallerhead-padding-bottom {
  margin-bottom: 2.5rem !important;
}

.square-pill {
  border: solid 2.1px #f9f3ef;
  background-color: #191919;
  text-transform: uppercase;
  font-size: 13px;
  width: auto;
  max-width: max-content !important;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.77;
  padding: 10px;
  letter-spacing: 2.21px;
  text-align: center;
}

.brand-list {
  color: white;
}

.brand-list ul {
  list-style: none;
  padding-inline-start: 20px;
}

.brand-list li {
  position: relative;
}

.brand-list li:before {
  position: absolute;
  left: -1.2em;
  bottom: 0.3em;
  content: " ";
  display: block;
  width: 9px;
  height: 9px;
  border: 2px solid white;
  border-radius: 50%;
}

.elementor-element {
  --widgets-spacing: 0px 0px!important;
}

.e-con {
  padding: 0;
}

.grey {
  background-color: #2b2b2d;
}

.black {
  background-color: black;
}

.inner-width .e-con-inner {
  max-width: 1125px !important;
  width: 97% !important;
}

.owl-stage {
  display: flex;
}

.owl-card {
  padding: 6.25rem 4.375rem;
  border-radius: 85.1px;
  background-color: #191919;
  color: white;
}

.owl-card .toggle-class {
  display: none;
}

.owl-card .toggle-click.active .elementor-icon {
  transform: rotate(180deg);
}

.owl-card .headling-3 {
  padding-bottom: 3.125rem;
}

.owl-card .core-strength {
  padding: 3.125rem;
}

.owl-card .core-strength .headling-3 {
  padding-top: 5px;
  padding-bottom: 0 !important;
}

.owl-card .testimonal {
  padding: 0;
  border: none !important;
}

.owl-card .testimonal .swiper {
  padding-bottom: 0 !important;
}

.owl-card .scroll-section-wrapper {
  margin-bottom: 4.375rem;
}

.owl-card .scroll-section-wrapper p {
  width: 80%;
}

.owl-card .scroll-section-wrapper:after {
  background: linear-gradient(180deg, transparent 0, #191919 100%);
}

.owl-card p {
  color: white !important;
}

.owl-carousel {
  overflow: hidden;
  border-radius: 85.1px;
  background-color: #191919;
}

.owl-carousel .liked-popup {
  position: absolute;
  top: 45px;
  height: 20px;
  width: 20px;
  right: 120px;
  box-sizing: content-box;
  padding: 10px 20px;
  padding-right: 50px;
  padding-left: 30px;
  z-index: 1000;
  border-radius: 22.8px;
  background-color: #000;
}

.owl-carousel .liked-popup.active .elementor-icon {
  background-image: url("../../uploads/2024/10/heart.svg");
}

.owl-carousel .liked-popup:before {
  content: "";
  height: 100%;
  width: 20px;
  position: absolute;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../uploads/2024/10/vertical-bar-to-start-the-music-component.svg");
}

.owl-carousel .liked-popup:active {
  fill: blue;
}

.owl-carousel .liked-popup .elementor-icon {
  height: 25px;
  top: 0;
  width: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../uploads/2024/10/heart-not-clicked.svg");
  position: absolute;
  z-index: 100;
}

.owl-carousel .liked-popup svg {
  opacity: 0;
}

.owl-carousel .controls {
  opacity: 0.85;
  border-radius: 22.8px;
  background-color: #000;
  right: 45px;
  top: 45px;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  padding-left: 0px;
}

.owl-carousel .owl-nav {
  display: flex;
  align-items: center;
}

.owl-carousel .owl-nav button {
  border: none;
  margin: 0 10px;
  background-color: transparent !important;
  padding: 5px;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
}

.owl-carousel .owl-nav button span {
  opacity: 0;
}

.owl-carousel .owl-prev {
  background-image: url("../../uploads/2024/10/rewind-graphic.svg");
}

.owl-carousel .owl-next {
  background-image: url("../../uploads/2024/10/next-graphic.svg");
}

.counter-grid.right {
  margin-left: 10%;
}

.counter.elementor-widget-counter {
  color: #ffca45;
}

.counter.elementor-widget-counter .elementor-counter {
  align-items: center;
  justify-content: flex-end;
  margin-top: 3.125rem;
}

.counter.elementor-widget-counter .elementor-counter-title {
  flex: none;
  margin-left: 20px;
  color: white;
}

.counter.elementor-widget-counter .elementor-counter-number-suffix {
  font-weight: 300;
}

.counter.elementor-widget-counter .elementor-counter-number {
  color: #ffca45;
}

.counter.elementor-widget-counter .elementor-counter-number-wrapper {
  border: 1px solid #ffca45;
  color: #ffca45 !important;
  width: 95px;
  height: 95px;
  border-radius: 100%;
  font-size: 24px;
  font-weight: 900;
  flex: none;
  justify-content: center;
  align-items: center;
}

.hero-mode-hero {
  height: 50rem;
  background-color: #f9f3ef;
}

.hero-mode-hero p {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2b2b2d;
}

.e-con-inner {
  max-width: 1337px !important;
  width: 97% !important;
}

.inner-hero {
  min-height: 53.125rem;
}

.inner-hero .scroll-section-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

.inner-hero .content-box {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 700px;
}

.inner-hero .content-box .body-intro {
  margin-top: 4.1875rem;
}

.hero {
  height: 63.0625rem;
}

.hero .pill:before {
  content: "";
  padding: 0 2.1875rem;
}

.hero .content-box {
  margin-top: auto;
  margin-bottom: 18.75rem;
  max-width: 851px;
}

.hero .content-box .copy {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.hero.e-con {
  --height: toRem(1090);
}

.white p,
.white .elementor-heading-title {
  color: white !important;
}

.home-blf {
  background-color: #2b2b2d;
}

.home-blf .go-foward {
  position: relative;
  background-color: black;
  margin-top: -12.5rem;
  border-radius: 20.4px;
}

.home-blf .go-foward:before {
  position: absolute;
  left: -20px;
  top: -2vh;
}

.scroll-section {
  padding-top: 10.375rem;
  padding-bottom: 5.75rem;
  padding-left: 7.6875rem;
}

.scroll-section-wrapper {
  max-height: 600px;
  padding-top: 4.5625rem;
  padding-bottom: 4.5625rem;
  margin-bottom: 2.25rem;
}

.scroll-section-wrapper .body-intro {
  overflow: scroll !important;
  padding-bottom: 50px;
}

.scroll-section-wrapper:after {
  content: "";
  background: linear-gradient(180deg, transparent 0, black 100%);
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 200px;
}

.scroll-section .button {
  margin-top: auto;
}

.tan.scroll-section-wrapper:after {
  background: linear-gradient(180deg, transparent 0, #f9f3ef 100%);
}

.logo-box {
  background-image: url("/assets/img/logo.svg");
  padding: 6.25rem 0 7.5rem;
}

.logo-box .e-grid {
  padding-top: 5rem;
}

.pudding {
  position: relative;
  padding: 0;
  padding-top: 5.625rem;
  padding-bottom: 9.375rem;
}

.pudding .e-con-inner {
  position: relative;
}

.pudding:before {
  left: -90px;
}

.pudding .side-figure {
  margin-top: 3.125rem;
}

.pudding .side-figure:before {
  position: absolute;
  left: -14.0625rem;
  top: -14.0625rem;
}

.pudding .copy.e-con {
  position: relative;
  padding: 5.625rem;
  box-sizing: content-box;
  padding-right: 0;
}

.pudding .copy.e-con:before {
  position: absolute;
  right: -5.625rem;
  left: auto;
  top: 3.125rem;
}

.pudding .copy.e-con .heading-4,
.pudding .copy.e-con .copy {
  max-width: 520px;
}

.pudding .copy.e-con .heading-4 {
  padding-bottom: 5rem;
  letter-spacing: -2.1px;
}

.pudding .floating-image {
  position: absolute;
  top: -177px;
  left: 15%;
}

.pudding .floating-image img {
  max-width: 11.875rem;
  top: -5.9375rem;
}

.list {
  padding-left: 11.25rem;
}

.list.horiztonal {
  padding-left: 0;
}

.list .e-grid.yellow .elementor-widget-counter .elementor-counter-number-wrapper {
  background-color: #ffca45;
  color: black;
}

.list .e-grid .elementor-widget-counter .elementor-counter {
  align-items: center;
  justify-content: flex-end;
  margin-top: 3.125rem;
}

.list .e-grid .elementor-widget-counter .elementor-counter-title {
  flex: none;
  margin-left: 20px;
}

.list .e-grid .elementor-widget-counter .elementor-counter-number-suffix {
  font-weight: 300;
}

.list .e-grid .elementor-widget-counter .elementor-counter-number-wrapper {
  background-color: #2b2b2d;
  width: 86px;
  height: 86px;
  border-radius: 100%;
  color: white;
  font-size: 24px;
  font-weight: 900;
  flex: none;
  justify-content: center;
  align-items: center;
}

.hover-grid-container {
  margin: 6.25rem auto;
  gap: 1px;
  position: relative;
}

.hover-grid-container:before {
  position: absolute;
  top: -200px;
  right: -200px;
  left: auto;
  width: 300px;
}

.hover-grid-container .text-item {
  text-align: right;
}

.hover-grid-container .text-item .heading-4 {
  display: flex;
  width: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.hover-grid-container .hover-item {
  width: 375px;
  justify-content: center;
  align-items: center;
  height: 375px;
}

.hover-grid-container .hover-item:before {
  background-color: black !important;
}

.hover-grid-container .hover-item img {
  max-width: 182px;
}

.hover-grid-container .hover-item .smaller-copy p {
  display: none;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  max-width: 60%;
  text-align: center;
  margin: auto;
}

.hover-grid-container .hover-item:hover:before {
  opacity: 0;
}

.hover-grid-container .hover-item:hover .smaller-copy p {
  display: block;
}

.testimonal {
  padding: 9.375rem 0;
  border-top: solid 0.5px #92907d;
}

.testimonal.white {
  color: black;
}

.testimonal.white .swiper {
  padding-bottom: 3.125rem !important;
}

.testimonal.white:before {
  top: auto;
  width: 52.5rem;
  right: 0;
  z-index: 100;
  left: auto;
  transform: none;
  bottom: -12.0625rem;
}

.testimonal.white .swiper-pagination-bullet {
  border: 1px solid black;
}

.testimonal.white .swiper-pagination-bullet-active {
  background-color: #ffca45 !important;
}

.testimonal.white .elementor-testimonial__content {
  width: 100% !important;
  padding-bottom: 0 !important;
}

.testimonal.white .e-con-inner {
  padding-left: 0;
}

.testimonal.white .e-con-inner .elementor-testimonial__content {
  width: 100%;
}

.testimonal.white .e-con-inner .headline-1 {
  line-height: 0.92;
  letter-spacing: -3.93px;
  font-size: 6rem;
}

.testimonal.white .e-con-inner:after {
  display: none;
}

.testimonal.white p {
  color: black !important;
}

.testimonal.white .elementor-testimonial__content .elementor-testimonial__text {
  color: black !important;
}

.testimonal .e-con-inner {
  position: relative;
  padding-left: 5rem;
}

.testimonal .e-con-inner:after {
  content: "";
  height: 12.5rem;
  width: 1px;
  background-color: #92907d;
  position: absolute;
  left: 0;
  display: block;
  top: -150px;
}

.testimonal:before {
  max-width: 1125px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 70px;
  top: -70px;
}

.testimonal .elementor-testimonial__text {
  color: white;
  font-size: 2.25rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.08px;
}

.testimonal .elementor-testimonial__text .pill {
  color: black;
}

.testimonal .elementor-testimonial__text .pill:before {
  padding: 0 10px !important;
}

.testimonal .swiper-slide {
  padding: 0;
}

.testimonal .swiper {
  margin: 0;
  padding: 5.625rem 0 !important;
}

.testimonal .swiper .elementor-swiper-button {
  display: none;
}

.testimonal .elementor-testimonial__content {
  padding-bottom: 4.375rem;
  max-width: 80%;
}

.testimonal .swiper-pagination {
  text-align: left;
}

.testimonal .swiper-pagination .swiper-pagination-bullet {
  background-color: white;
  width: 17px;
  height: 17px;
}

.testimonal .elementor-testimonial__cite .elementor-testimonial__name {
  font-family: "NyghtSerif", Sans-serif;
  font-size: 20px;
}

.testimonal .elementor-testimonial__cite span {
  color: white;
}

.out-method {
  background-color: white;
  border-radius: 20.4px;
  border: 1px solid #2b2b2d;
  margin-top: -3.125rem;
  border-radius: 20.4px;
  position: relative;
  overflow: hidden;
  padding-top: 7.5rem;
}

.out-method::before {
  max-width: 250px;
  position: absolute;
  right: 0;
  left: auto;
}

.out-method .copy {
  padding-top: 3.125rem;
  max-width: 800px;
  width: 80%;
}

.out-method .elementor-element-d8a0452 {
  padding-top: 1.3125rem;
  padding-bottom: 4.375rem;
}

.out-method .build-with {
  padding-top: 4.125rem;
  padding-bottom: 4.125rem;
}

.out-method .build-with .copy {
  padding-top: 0;
}

.oro-call-out {
  border-radius: 20.4px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border: solid 0.5px #191919;
  background-color: #fff;
  width: 90% !important;
}

.oro-call-out .button.white {
  margin-top: 30px;
  margin-bottom: 30px;
}

.oro-call-out:before {
  position: absolute;
  right: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.work {
  margin: 6.25rem auto;
}

.work .text-item .copy {
  margin-bottom: 41px;
}

.work .text-item:before {
  width: 100px;
  left: -15px;
}

.work .hover-grid-container .hover-item {
  padding-left: 1.875rem;
}

.work .hover-grid-container .hover-item:hover .content-contain {
  display: block;
}

.work .hover-grid-container .hover-item:hover .elementor-widget-image {
  margin-right: auto;
}

.work .hover-grid-container .hover-item:hover img {
  max-width: 100px;
}

.work .hover-grid-container .content-contain {
  display: none;
}

.work .hover-grid-container .content-contain .yellow span {
  color: #ffca45 !important;
}

.work .hover-grid-container .content-contain span,
.work .hover-grid-container .content-contain p {
  font-size: 10px;
  font-weight: 900;
  line-height: normal;
}

.work .hover-grid-container .content-contain .box {
  margin-bottom: 6px;
  font-size: 8px !important;
  background-color: black;
  padding: 6px 14px 6px 15px;
  border: solid 0.5px #f9f3ef;
  background-color: #191919;
  width: auto;
  display: inline-block;
  max-width: max-content;
  text-transform: uppercase;
}

.work .hover-grid-container .content-contain .box:not(:first-child) {
  margin-top: 17px;
}

.work .hover-grid-container:before {
  right: -53px;
  width: 450px;
  top: -240px;
}

.build-with-us {
  padding: 12.5rem 0;
}

.build-with-us .body-intro {
  max-width: 700px !important;
  margin-top: 4.375rem;
  padding-bottom: 4.375rem;
  margin-block-end: initial;
}

.bwu:before {
  position: absolute;
  bottom: -77px;
  top: auto;
  z-index: 100;
}

.toggle-content {
  padding-top: 3.125rem;
}

.toggle-content .headling-3,
.toggle-content li {
  color: #f9f3ef;
  text-align: left !important;
}

.toggle-content .elementor-tab-title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-bottom: solid 0.5px #f9f3ef !important;
  background-color: black;
}

.toggle-content #elementor-tab-title-2181 {
  background-image: url("../../uploads/2024/10/cooth-core.png");
  background-repeat: no-repeat;
  background-position: center left;
}

.toggle-content .elementor-tab-content {
  border: none !important;
  background-color: transparent !important;
}

.toggle-content .elementor-toggle-title {
  font-size: 16px;
  margin-right: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
  text-align: right;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #f9f3ef !important;
  border: none;
}

.toggle-content .elementor-toggle-item {
  margin-bottom: 1.875rem;
}

.bread {
  padding-bottom: 9.375rem;
}

.purpose {
  padding: 0 3.125rem;
  background-color: #191919;
  border-radius: 72.4px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.purpose:after {
  content: "";
  position: absolute;
  bottom: -190px;
  left: -155px;
  width: 607px;
  height: 600px;
  background-size: contain;
  background-image: url("../../uploads/2024/10/abstract-component-_clutter-to-clarity_-section.png");
}

.purpose:before {
  position: absolute;
  height: 1400px;
  top: -10px;
  left: -56px;
}

.butter-wrapper {
  width: 100%;
}

.butter-wrapper .e-con-inner {
  max-width: 1440px !important;
  width: 100% !important;
  margin-right: 0;
}

.butter-wrapper .e-con-inner .bread-butter-grid {
  margin-top: 6.25rem;
  margin-bottom: 4.375rem;
}

.butter-wrapper .e-con-inner .bread-butter-grid .elementor-widget-image {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 662px;
}

.butter-wrapper .e-con-inner .bread-butter-grid .content-box .copy {
  margin-top: 2.5rem;
  margin-bottom: 4.375rem;
  max-width: 690px;
}

.butter-wrapper .e-con-inner .bread-butter-grid .content-box .smaller-copy {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.butter-wrapper .e-con-inner .bread {
  margin-left: auto;
  margin-right: 0;
  z-index: 100;
}

.butter-wrapper .e-con-inner .bread .plus-wrapper {
  display: flex;
  align-items: center;
  padding: 3.125rem 0;
  border-bottom: solid 0.5px #f9f3ef;
}

.butter-wrapper .e-con-inner .bread .plus-wrapper p {
  font-family: SatoshiVariable;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.butter-wrapper .e-con-inner .bread .plus-wrapper img {
  width: 118px;
  height: 62px;
}

.build-with-us-testi {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.build-with-us-testi:before {
  position: absolute;
  width: 300px;
  right: 0;
  left: auto;
  top: -60px;
}

.build-with-us-testi .elementor-widget-testimonial {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.build-with-us-testi .elementor-widget-testimonial .elementor-testimonial-content {
  font-size: 2.25rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.08px;
  margin-bottom: 1.875rem;
  padding-top: 5px;
}

.discomfort {
  padding: 8.75rem 0;
  position: relative;
  border-top: solid 2.1px #2b2b2d;
}

.discomfort .alive:before {
  content: "";
  position: absolute;
  left: -250px;
  top: auto;
  bottom: -150px;
}

.discomfort .smaller-copy {
  margin-top: 3.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2b2b2d;
  max-width: 90% !important;
}

.discomfort:after {
  content: "";
  position: absolute;
  background-color: #f9f3ef;
  height: 25rem;
  width: 100%;
  top: 0;
  z-index: -1;
}

.cooth-block {
  max-width: 1300px;
  margin: 2.5rem auto;
}

.cooth-block .tan-block {
  background-color: #f9f3ef;
  display: flex;
  height: 170px;
  justify-content: center;
  align-items: center;
}

.cooth-block .heading-4 h4 {
  font-size: 20px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: center;
  color: #2b2b2d;
}

.cooth-block .smaller-copy {
  margin-left: auto;
}

.founders {
  background-color: #2b2b2d;
}

.white-box {
  background-color: #fff;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #2b2b2d;
  padding: 1.25rem 1.875rem;
  border: 1px solid #2b2b2d;
}

@media (max-width: 1170px) {
  html {
    font-size: 0.9rem;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 0.8rem;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 0.7rem;
  }
}