body {
	margin: 0px auto;
	// background-color: #f9f3ef;
	// max-width: 1440px;
}
.elementor-element-87ebd7c{
	@include bp(S){
		max-width: 300px!important;
	}
}
.page-id-1298{
 #Nav{
	.hero-mode-toggle,
	.elementor-element-20b7e974{
		display: none;
	}
 }
}
.elementor-button{
 a{
	padding: 0!important;
    line-height: 1;
    text-align: center;
    margin: auto!important;
    align-items: center;
    flex-grow: 0!important;
 }
}
html{
	&.menu-open{
		overflow: hidden;
		height: 100%;
		&:after{
			visibility: visible;
			opacity: 1;
			// transition: 0.5s ease opacity;

				background-color:#000000B3;
				// position: fixed;
				width: 100vh;
				height: 100vh;
				left: 0;
				top: 0;
				// pointer-events: all;
				backdrop-filter: blur(10px);

				z-index: 600;
				position: fixed;
		}
	}
 &:after{
	content:'';

	// display: none;
	visibility: hidden;
	opacity: 0;
}
}


// .stick-section{
// 	height:100vh;
// }
.sticky-container{
	// position: sticky;
	// position: -webkit-sticky;
	// top: 0;
}
.elementor-button{
	&:hover{
		cursor: pointer;
	}
}
// .elementor-counter{
// 	font-size: toRem(19);
// }
#Nav{
	z-index: 111111;
	height:140px;
	.e-con-inner{
		align-items: center;
		@include bp(S){
			flex-wrap: nowrap!important;
			.elementor-element-3f922076{
				flex-shrink: 30;
			}
		}
	}
	.elementor-nav-menu--dropdown{
		top:70px!important;
		padding: 3rem;
		align-content: flex-start;
		display: flex;
		a{
			color: #2B2B2D;
		}
		.elementor-item-active{
			background: none!important;
			color:$yellow!important;
		}
		.menu-item a{
			padding-left: 0;
			padding-bottom: 2rem;
			background: none!important;
			&:hover{
				color:#2B2B2D!important;
				opacity: 0.5;
			}
		}

	}
	.elementor-button{
		// color:black;
		// background-color: transparent;
		&:after{
			display: none;
		}
		a{
			justify-content: center;
		}
		a:hover{
			line-height: 1;
			color:#2B2B2D;
		}
		a:after{
			display: none;
		}
	}
	.elementor-widget-nav-menu{

	}
	.menu-item{
		font-weight: bold;
		font-size: 14px;
		&:hover{
			a:after{
				display: none;
			}
		}
	}
	.elementor-item{
		padding-bottom: 0;
		padding-top: 0;
		// padding: 0;
		&::after{
			width: 90%;
			margin: auto;
			left:50%;
			transform: translateX(-50%);
		}
	}
	.elementor-item-active{
		color:inherit!important;
		font-weight: bold;
		opacity: 0.5;
		&:after{
			display: none;
			background-color:black;
		}

	}
	.e-con-inner{
		display: flex;
		align-items: center;
	}
	img{
		max-width: 99px;
		width: 100%;
		margin-bottom: 10px;
	}
}
.footer .e-con-boxed{
	padding: toRem(50) 0px!important;
	a:hover{
		color:#2B2B2D;
	}

}
.max-width{
	width:80%;
	@include bp(S){
		width: 100%;
	}
}
.same-space{
	margin: toRem(100) auto;
}
.small-space{
	margin: toRem(50) auto;
}
.small-space-no-side{
	margin-top: toRem(50);
	margin-bottom: toRem(50);
}
.simple-padding-bottom{
	margin-bottom: toRem(100)!important;

}
.smaller-padding-bottom{
	margin-bottom: toRem(70)!important;

}
.smallerhead-padding-bottom{
	margin-bottom: toRem(40)!important;

}
.square-pill{
	border: solid 2.1px #f9f3ef;
  background-color: #191919;
	text-transform: uppercase;
  font-size: 13px;
	width: auto;
	max-width: max-content!important;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.77;
	padding:10px;
  letter-spacing: 2.21px;
  text-align: center;
}
.brand-list{
	color:white;

	ul{
		list-style: none;
		padding-inline-start:20px;
	}
	li {
		position: relative;
		}
		li:before {
		position: absolute;
		left: -1.2em;
		top: 0.3em;
		content: ' ';
		display: block;
		width: 9px;
		height: 9px;
		border: 2px solid white;
		border-radius: 50%;
		}
}
// #not-visible {
// }
// .site-branding .show-title {
// 	display: none;
// }

// input {
// 	&:hover {
// 		cursor: pointer;
// 	}
// }

// .elementor-widget:not(:last-child) {
// 	margin-bottom: 0px;
// }

// .elementor-widget:not(:last-child) {
// 	margin-bottom: unset;
// }
// .elementor-column-gap-default > .elementor-column > .elementor-element-populated {
// 	padding: 0;
// }
// p {
// 	margin: 0;
// }

// .navy {
// 	background-color: #3b434e;
// }

// .inner-max {
// 	max-width: 1180px !important;
// 	width: 95% !important;
// 	margin: auto;
// 	@include bp(M) {
// 		width: 90% !important;
// 	}
// 	@include bp(S) {
// 		width: 85% !important;
// 	}
// }
// .smaller-inner {
// 	width: 90%;
// 	max-width: 1000px !important;
// 	margin-left: auto;
// 	margin-right: auto;
// 	@include bp(S) {
// 		width: 85% !important;
// 	}
// }

.elementor-element{
	--widgets-spacing:0px 0px!important;
}
.e-con{
	padding: 0;
}

.grey{
	background-color: $grey;
}
.black{
	background-color: $dark-gray;
}

.inner-width .e-con-inner{
	max-width: 1125px!important;
	width:97%!important;
}
