//OWL
.owl-stage{
	display: flex;
	align-items: flex-start;
	height: auto!important;
}
.elementor-popup-modal{
	backdrop-filter: blur(10px);
}
.popup-contiain{
	.dialog-widget-content{
		border:1px solid #92907d;

		border-radius: 30px;

	}
	.popup-liked {
		padding:4rem;
		text-align: center;

		border-radius: 30px;
		.copy {
			margin-top: 3rem;
			margin-bottom: 1rem;
			p{
				margin-bottom: 2rem;
				text-align: center;
			}
		}

	}
}
.owl-card{
	.logo img{
		max-height: 50px;
		width: auto;
		height: 100%;
		margin-bottom: toRem(50);
	}
	.heading-2 h2{
		@include bp(S){
			// font-size: 30px;
		}
	}
	.same-space{
		margin:toRem(50) auto;

	}

	a{
		color:$yellow;
	}
	.elementor-counter .elementor-counter-title{
		flex:1!important;
	}
	.toggle-class{
		// display: none;
		// visibility: hidden;
		// display: none;
	}
	.toggle-click{
		.e-fas-caret-down{
			fill:#92907D!important;

		}
		&.active{
			.elementor-icon{
				transform:rotate(180deg);
			}
		}
	}
	.headling-3{
		padding-bottom: toRem(50);
		.elementor-heading-title{
			color:#92907D!important;
		}

		;
	}
	.core-strength{
		padding: toRem(50);
		.headling-3{
			padding-top: 5px;
			padding-bottom:0!important;
		}
	}
	background-color: black;
	padding: toRem(100) toRem(70);
  border-radius: 85.1px;
  background-color: #191919;
	@include bp(S){
		padding-left: 20px;
		padding-right:20px;
		padding-top: 80px;
	}
	.testimonal{
		padding:0;
		border:none!important;
		padding-left: 5px!important;
		.swiper{
			padding-bottom: 0!important;
		}
	}
	.scroll-section-wrapper{
		margin-bottom: toRem(70);

		p{
			width:80%;
		}
		&:after{
			background: linear-gradient(180deg, transparent 0,  #191919 100%);
		}

	}
	color:white;
	p{
		color:white!important;

	}
}

.owl-carousel{
	overflow: hidden;
	border-radius: 25px;
	background-color: #191919;
	.liked-popup{
		position: absolute;
    top: 43px;
    height: 20px;
    width: 20px;
    right: 44px;
    box-sizing: content-box;
    padding: 11px 20px;
		padding-right: 120px;
    padding-left: 10px;
    z-index: 1000;
    border-radius: 22.8px;
    background-color: #000;
    border: 1px solid #92907D;
		@include bp(S){
			right:10px;
			top: 28px;
		}
		&:hover{
			.elementor-icon{
				background-image: url('../../uploads/2024/10/heart.svg');
				// opacity: 0.5;
			}
		}
		&.active{

				.elementor-icon{
					background-image: url('../../uploads/2024/10/heart.svg');
				}
		}
		// &:before{
		// 	content: '';
		// 	height: 100%;
		// 	width: 20px;
		// 	position: absolute;
		// 	left: 0;
		// 	background-size: contain;
		// 	background-repeat: no-repeat;
		// 	background-image: url('../../uploads/2024/10/vertical-bar-to-start-the-music-component.svg');
		// }
		&:active{
			// fill:blue;
		}
		.elementor-icon{
			height:25px;
			top: 0;
			width:25px;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url('../../uploads/2024/10/heart-not-clicked.svg');
			// padding-left: 20px;
			position: absolute;
			z-index: 100;
		}
		svg{
			opacity: 0;
		}
	}

	.controls{
		opacity: 0.85;
		border-radius: 22.8px;
		// background-color: #000;
		right:45px;

		top:45px;
		position: absolute;
		display: flex;
		align-items: center;
		padding: 10px 20px;
		padding-left: 0px;
		@include bp(S){
			right: 5px;
			top: 30px;
		}
	}
	.owl-nav{
		display: flex;
		align-items: center;
		button{
			border:none;
			margin: 0 10px;
			background-color: transparent!important;
			padding:5px;
			height:20px;
			width:20px;
			background-repeat: no-repeat;
			&:hover{
				cursor: pointer;
				// color: $yellow!important;
				filter: brightness(0) saturate(100%) invert(89%) sepia(89%) saturate(6561%) hue-rotate(319deg) brightness(100%) contrast(101%);
			}
			span{
				opacity: 0;
			}
		}
	}
	.owl-prev{
		background-image: url('../../uploads/2024/10/rewind-graphic.svg');
	}
	.owl-next{
		background-image: url('../../uploads/2024/10/next-graphic.svg');
	}


}
.counter-grid{
	&.right{
		margin-left: 10%;
		@include bp(M){
			margin-left: 0;
		}
	}
}
.counter{
	&.elementor-widget-counter{
		color: #ffca45;
		.elementor-counter{
			align-items: center;
			justify-content: flex-end;
			margin-top: toRem(50);
		}
		.elementor-counter-title{
			flex: none;
			margin-left: 20px;
			color:white;
		}
		.elementor-counter-number-suffix{
			font-weight: 300;
		}
		.elementor-counter-number{
			color:#ffca45;
		}
		.elementor-counter-number-wrapper{
			// background-color: #2b2b2d;
			border: 1px solid #ffca45;
			color:#ffca45!important;
			width: 95px;
			height: 95px;
			border-radius: 100%;
			font-size: toRem(20);
			font-weight: 900;
			flex: none;
			justify-content: center;
			align-items: center;
		}
	}
}

.hero-mode-hero{
	height: toRem(800);
	background-color: #f9f3ef;
	p{
		font-size: 20px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #2b2b2d;
	}
}
// /* Feel free to change duration  */
// .animated  {
//   -webkit-animation-duration : 1000ms;
//   animation-duration : 1000ms;
//   -webkit-animation-fill-mode : both;
//   animation-fill-mode : both;
// }
// /* .owl-animated-out - only for current item */
// /* This is very important class. Use z-index if you want move Out item above In item */
// .owl-animated-out {
//   z-index : 1;
//    }
// /* .owl-animated-in - only for upcoming item
// /* This is very important class. Use z-index if you want move In item above Out item */
// .owl-animated-in {
//   z-index : 0;
// 	// animation: fadeIn 1s ease;
//    }
// /* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
// .fadeOut  {
//   -webkit-animation-name : fadeOut;
//   animation-name : fadeOut;
// 	// animation: fadeOut 1s ease;
// }
// @-webkit-keyframes  fadeOut  {
//   0% {
//     opacity : 1;
//   }
//   100% {
//  opacity : 0;
//   }
// }
// @keyframes  fadeOut  {
//   0% {
//  opacity : 1;
//   }
//   100% {
//  opacity : 0;
//   }
// }
// @keyframes  fadeIn  {
//   0% {
//  opacity : 0;
//   }
//   100% {
//  opacity : 1;
//   }
// }

