html {
	font-size: 1rem;

	@include bp(test1) {
		font-size: 0.9rem;
	}
	@include bp(M) {
		font-size: 0.8rem;
	}
	@include bp(S) {
		font-size: 0.7rem;
	}
}


.pill{
	position: relative;
	display: inline-block;
	font-weight: 900;
	// z-index: 1;
	&.white{
		&:before{
			background-color: white;
		}
	}
	&.black{
		background-color: transparent;
		&:before{
			background-color: black;
			bottom: 50%;
			transform: translate(-50%,50%);
		}
	}
	&:before{
		content:'';
		z-index: -1;
		background-color: $yellow;
		border:1px solid $grey;
		position: absolute;
		height: 1.1em;
    width: 100%;
		padding: 0 10px;
		box-sizing: content-box!important;
		// top:5px;
		bottom: 4px;
		left:50%;
		transform:translateX(-50%);
		border-radius: 70px;
		// top:50%;
		// transform: translateY(-50%);
	}
	
}

.elementor-button{
	min-width: 227px;
	font-weight: bold;
	--e-global-typography-accent-font-weight: bold;
	font-size: 20px;
	padding: 18px 50px!important;
}
.button{
	&.black a{
		background-color: black;
		border-color: $yellow;
		color: white;

	}
	&.white a{
		background-color: white;
		&:hover{
			background-color: $yellow;
		}
	}
}
.body-intro p{
	font-size: toRem(36);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.08px;
	&:not(:first-of-type){
		margin-top: toRem(30);
	}
}
h1,h2,h3,h4,h5,h6, p{
	position: relative;
	z-index: 2;
	em{
		font-family: $ny!important;
		font-weight: 300!important;
		letter-spacing: normal!important;
	}
}
.headline-1 {h1,h2,h3,h4,h5,h6 {
	font-size: toRem(132);
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -6.6px;
}
}

.headling-3 {
	font-size: toRem(36);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.08px;
  text-align: center;
  color: #f9f3ef;
}
.heading-4 h4{
  font-size: toRem(70);
	line-height: 1.1;
  font-weight: 900!important;
	--e-global-typography-primary-weight: 900;
}

.copy p{
	font-size: toRem(28);
  font-weight: normal!important;
	// --e-global-typography-primary-font-weight:  normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
	font-family: "SatoshiVariable"!important;
}

.yellow{
	color:$yellow;
}