html {
	font-size: 1rem;

	// @include bp(test1) {
	// 	font-size: 0.9rem;
	// }
	@include bp(M) {
		font-size: 0.9rem;
	}
	@include bp(S) {
		font-size: 0.8rem;
	}
}

h1 .pill{
	z-index: -1;
}
.elementor-counter .elementor-counter-title{
	line-height: 1;
}
.pill{
	position: relative;
	display: inline-block;
	font-weight: 900;
	z-index: 1;
	&.white{
		color:black;
		&:before{
			background-color: white;
		}
	}
	&.black{
		background-color: transparent;
		&:before{
			background-color: black;
			bottom: 50%;
			transform: translate(-50%,50%);
		}
	}
	&:before{
		content:'';
		z-index: -1;
		background-color: $yellow;
		border:1px solid $grey;
		position: absolute;
		height: 1.1em;
    width: 100%;
		padding: 5px 10px;
		box-sizing: content-box!important;
		// top:5px;
		// bottom: 4px;
		bottom:50%;
		left:50%;
		transform:translate(-50%,50%);
		border-radius: 70px;
		@include bp(S){
			height: 100%;
		}
		// top:50%;
		// transform: translateY(-50%);
	}
	
}

.elementor-button{
	min-width: toRem(227);
	font-weight: bold;
	--e-global-typography-accent-font-weight: bold;
	font-size: toRem(20)!important;
	padding: toRem(18) toRem(50)!important;
}
.text-width{
	z-index: 10;
}
.button{

	&.yellowoutline{
		a{
			border: none!important;
		}
		border: 1px solid $yellow;
		a{
			color:white;
		}
		&:hover{
			background-color:$yellow!important;
			border-color:$yellow!important;
			color:white!important;

		}
	}
	&.black:not(.yellowoutline) a{
		background-color: black;
		// border-color: $yellow;
		border-color: black;
		color: white;
		
		&:hover{
			background-color: white;
			border-color: white;
			color:black;
		}

	}
	&.outline.black a{
		&:hover{
			border: 1px solid black;
		}
	}
	&.white a{
		background-color: white;
		&:hover{
			background-color: $yellow;
		}
	}
}
.body-intro p{
	font-size: toRem(36);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.08px;
	&:not(:first-of-type){
		margin-top: toRem(30);
	}
}
h1,h2,h3,h4,h5,h6, p{
	position: relative;
	z-index: 2;
	em{
		font-family: $ny!important;
		font-weight: 300!important;
		letter-spacing: normal!important;
	}
}
.headline-1 {h1,h2,h3,h4,h5,h6 {
	font-size: toRem(132);
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -6.6px;
	@include bp(S) {
		line-height: 1.2;
	}
}
}
.headline-1 {
	font-size: toRem(132);
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -6.6px;
}

.headling-3 {
	font-size: toRem(36);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.08px;
  text-align: center;
  color: #f9f3ef;
}
.heading-4 h4{
  font-size: toRem(70);
	line-height: 1.1;
  font-weight: 900!important;
	--e-global-typography-primary-weight: 900;
}

.heading-2 h2{
  font-size: toRem(80);
  font-weight: 900!important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -4px;
  text-align: left;
  color: #f9f3ef;
}

.copy p{
	font-size: toRem(28);
  font-weight: normal!important;
	// --e-global-typography-primary-font-weight:  normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
	font-family: "SatoshiVariable"!important;
}
.smaller-copy{
	font-family: "SatoshiVariable"!important;
  font-size: 16px;
  // font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.yellow{
	color:$yellow;
}

.counter{

}

.hero-mode-toggle{

	display: flex;
	align-items: center;
	p{
		font-size: 9px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: #2b2b2d;
		text-transform: uppercase;
	}
	.switch {
		position: relative;
		display: inline-block;
		width: 36px;
		height: 18px;
		margin: 5px;
	}
	
	.switch input { 
		opacity: 0;
		width: 0;
		height: 0;
	}
	
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border:1px solid  #2b2b2d;
		-webkit-transition: .4s;
		transition: .4s;
		&:checked{
			background-color: #ffca45;
			border-color: #ffca45;
		}
	}
	
	.slider:before {
		position: absolute;
		content: "";
		height: 12px;
		width: 12px;
		left: 2px;
		bottom: 2px;
		background-color: #2b2b2d;
		-webkit-transition: .4s;
		transition: .4s;
	}
	
	input:checked + .slider {
		background-color:#ffca45;
	}
	
	input:focus + .slider {
		box-shadow: 0 0 1px #ffca45;
	}
	
	input:checked + .slider:before {
		-webkit-transform: translateX(16px);
		-ms-transform: translateX(16px);
		transform: translateX(16px);
	}
	
	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}
	
	.slider.round:before {
		border-radius: 50%;
	}
}

